
/* Import fonts.css */
@import url(fonts.css);


/* css variables */
@import url(partials/variables.css);

/* Global */
@import url(./partials/global.css);


/* Universal Font*/
*{
    font-family: Helvetica;
}

/* Start navigation */
.header_area{
  padding-bottom: 10rem;
}

.header_area.main-menu.navbar.navbar-brand{
    padding: 0 2rem 0 5rem ;
}

.header_area .main-menu .navbar{
    position: fixed;
    width: 100%;
    z-index: 9999;
    padding: 0rem 20rem ;
}

.header_area .main-menu .navbar .navbar-brand{
    font: normal 500 25px/2px;
    color: whitesmoke;
}

.header_area .main-menu .navbar .navbar-nav .nav-item .nav-link{
    font: normal 500 18px/2px;
    text-transform: uppercase;
    padding: 1.7rem;
    color: whitesmoke;
}

.header_area .main-menu .navbar-nav .nav-item .nav-link a{
    background: var(--gradient-color-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* End navigation */


/*  Start Banner Area  */

.site-banner{
  padding-bottom: 7rem;
}

.site-main .site-banner .site-title h3.title-text{
    font: var(--merriweather);
    font-size: 2.5rem;
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 4rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 2rem 0rem;
    width: 35rem;
    transform: translateY(100px);
}


/*  End Banner Area  */


/*  Start About Area  */

.site-main .about-area{
    padding: 15rem 5rem;
}

.site-main .about-area .about-image > img{
    padding: 2rem 0rem;
    width: 45rem;
    transform: translateY(35px);
}

.site-main .about-area .about-title h3{
    font-size: 3rem;
}

.site-main .about-area .about-title .paragraph>p{
    font-size: 1.2rem;
    color: black;
    padding: 0.4rem 0;
}

/*  End About Area  */


/*  Start Projects Area  */

.site-main .projects-area{
  padding: 3rem 5rem;
}

.site-main .projects-area .drop-btn{
  text-align: center;
}

.site-main .projects-area .projects-title h1{
  text-align: center;
  font-size: 3rem;
}

.site-main .projects-area .solar-boat-project{
  background: #fff;
  overflow: hidden;

  transition: all .5s ease-in-out;
  height: 0;
  line-height: 0;
  padding: 0 1em;
  color: transparent;
}

.site-main .projects-area .solar-boat-project:target{
  line-height: 1.5;
  height: 1000px;
  padding-top: 1em;
  padding-bottom: 1em;
  color: black;
}

.sb-title h2{
  text-align: center;
  padding-top: 2rem;
}

.site-main .projects-area .SB-text{
  padding-top: 2rem;
  padding: 0 5rem;
}

.site-main .projects-area .SB-text .SB-column-left{
  float: left;
  padding-bottom: 5rem;
  width: 45%;
}


.site-main .projects-area .SB-text .SB-column-right{
  float: right;
  width: 45%;
}

.site-main .projects-area .SB-text::after{
  content: "";
  display: table;
  clear: both;
}

.site-main .projects-area .thermo-weld{
  background: #fff;
  overflow: hidden;

  transition: all .5s ease-in-out;
  height: 0;
  line-height: 0;
  padding: 0 1em;
  color: transparent;
}

.site-main .projects-area .thermo-weld:target{
  line-height: 1.5;
  height: 1000px;
  padding-top: 1em;
  padding-bottom: 1em;
  color: black;
}

.site-main .projects-area .mySlides1 .Slide1imgs{
  width: auto;
  height: 400px;
  max-height: 500px;
}


/*  End Projects Area  */


/*   Test Area   */






