
/* Import fonts.css */
@import url(./fonts.css);


/* css variables */
@import url(./partials/variables.css);

/* Global */
@import url(./partials/_global.css);


/* Universal Font*/
*{
    font-family: helvetica;
}

/* Start navigation */

.header_area.main-menu.navbar.navbar-brand{
    padding: 0 2rem 0 5rem ;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem ;
}

.header_area .main-menu .navbar .navbar-brand{
    font: normal 500 25px/2px var(--merriweather);
    color: whitesmoke;
}

.header_area .main-menu .navbar .navbar-nav .nav-item .nav-link{
    font: normal 500 18px/2px var(--merriweather);
    text-transform: uppercase;
    padding: 1.7rem;
    color: whitesmoke;
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* End navigation */


/*  Start Banner Area  */

.site-main .site-banner .site-title h3.title-text{
    font: var(--roboto);
    font-size: 2.5rem;
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 4rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 2rem 0rem;
    width: 45rem;
    transform: translateY(100px);
}


/*  End Banner Area  */


/*  Start About Area  */

.site-main .about-area{
    padding: 25rem 5rem;
}

.site-main .about-area .about-image > img{
    padding: 2rem 0rem;
    width: 45rem;
    transform: translateY(35px);
}

.site-main .about-area .about-title h3{
    font-size: 3rem;
}

.site-main .about-area .about-title .paragraph>p{
    font-size: 1.2rem;
    color: black;
    padding: 0.4rem 0;
}

/*  End Banner Area  */