

/* Globale Classes*/

.site-main.site-banner.title-text{
    font: normal bold 50px/72px var(--roboto);
}

.text-uppercase{
    text-transform: uppercase;
}

/* Buttons */

.button{
    padding: 0.8rem 2.2rem;
    font: normal 900 16px/20px;
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.button.primary-button{
    background: white;
    background-clip: padding-box;
    transition: background 0.6s ease;
    box-shadow: var(--box-shadow);
}

.button.primary-button:hover{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
}

.button.primary-button::after{
    position: absolute;
    top: -2px; left: -2px;
    bottom: -2px; right: -2px;
    background: var(--gradient-color);
    content: " ";
    z-index: -1;
    border-radius: 4px;
}

.button2{
    text-align: center;
    width: 1000px;
    font: normal 900 16px/20px;
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.button2.primary-button{
    background: white;
    background-clip: padding-box;
    transition: background 0.6s ease;
    box-shadow: var(--box-shadow);
}

.button2.primary-button:hover{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
}

.button2.primary-button::after{
    position: absolute;
    top: -2px; left: -2px;
    bottom: -2px; right: -2px;
    background: var(--gradient-color);
    content: " ";
    z-index: -1;
    border-radius: 4px;
}

p.para{
    color: black;
    font-size: 1.2rem;

    
}


.font-roboto{
    font-family: var(--roboto);
}

/* Carousel */

/* Slideshow container */
.slideshow-container {
  max-width: 750px;
  max-height: 750px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}